<br>
<div class="text-left text-danger">
<h1>・当サイトはたくさんのユーザーが書き込みやそれに対するコメント、本を紹介する事ができるアプリです。</h1>
<br>
<h1>・書き込みに対してイイねすることも出来ます！</h1>
<br>
<h1>・好きな本を紹介する事が出来ます。その本にはなんと推薦文がつきます！</h1>
<br>
<h1>・投稿一覧では内容を検索する機能もついており便利です！</h1>
<br>
<h1>・リンク機能も優れており便利にサイト内を移動出来ます！</h1>
<br>
<h1>・ユーザー一覧や投稿一覧には表示件数が設定されており、閲覧に便利です</h1>
</div>
